<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifesupport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lifesupport"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".calculator.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.calculator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".calendar.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.calendar" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity android:name=".todolist.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.todolist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".FinanceManager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.FinanceManager" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity android:name=".FinanceManager.AddPaymentActivity">
            <intent-filter>
                <action android:name="android.intent.action.AddPaymentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Information.InformationActivity">
            <intent-filter>
                <action android:name="android.intent.action.InformationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Information.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.Information" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".AlarmClock.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.AlarmClock" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmClock.SetClockActivity">
            <intent-filter>
                <action android:name="android.intent.action.SetClockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmClock.AlarmReceiver"></receiver>

        <service android:name=".AlarmClock.LongRunningService"></service>
    </application>

</manifest>